:root {
    --background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    --main: hsl(0, 0%, 100%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --transparent-more-white: hsla(0, 0%, 100%, 0.6);
}
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
    font-family: "Inter", "Lexend Deca", sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    background-color: var(--background);
    color: var(--main);
}

.container {
    max-width: 980px;
    background-color: var(--card-background);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 5%;
}
.img {
    position: relative;
    margin: 0;
    background-image: url("./image-header-desktop.jpg");
    background-size: cover;
    background-color: hsl(277, 64%, 61%, 0.8);
    background-blend-mode: multiply;
    border-radius: 0 10px 10px 0;
    border: none;
}

.text {
    margin: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.accent {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--accent);
}
p {
    margin: 20px 0;
    color: var(--transparent-white);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
}
.stats {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.info {
    margin: 0;
}
.info p {
    margin: 5px 0;
    color: var(--transparent-more-white);
    font-size: 12px;
}
h2 {
    font-size: 18px;
}
